@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    font-family: "Sen", serif;
  }
  :root {
    --brand-primary: #f79441;
    --brand-secondary: #2d2d2d;
    --brand-accent: #e8e1d9;
  }
  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
  }

  .clip-diagonal-mobile {
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
  }

  @media (min-width: 1024px) {
    .clip-diagonal {
      clip-path: none;
    }
  }
  /* Custom animations */
  .category-enter {
    opacity: 0;
    transform: translateY(20px);
  }
  .category-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease;
  }

  /* Mobile menu implementation */
  @media (max-width: 1024px) {
    .nav-links {
      display: none;
    }
    .mobile-menu {
      display: block;
    }
  }
}
